@charset "UTF-8";

*{
    font-family: sans-serif;
    
}

p{
    text-align:justify;
}

body{
    background-image: linear-gradient(to right, #CCEA8D, #d4ee0c);
}

main{
    background-color: white;
    width: 700px;
    padding: 10px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 5px  5px 5px #798806;
}

h2{
    color: #005148;
}

h1{
    color: #001a24;
    text-align: center;
    text-shadow: 1px 1px 1px #001a24;
}

